@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

*{
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Play', sans-serif!important;
  // background: linear-gradient(45deg, #323D54, #232E45);
  background: #1C2638!important;
}
